html, body{
    margin: 0;
    background-color: #c8e1ea;
}

body{
margin: 0;
min-height: 100vh;
width: 100vw;
font-family: fantasy, Arial, Helvetica, sans-serif;
}

.principal{
    height: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    order: -1;
    height: 280px;
    width: 400px;
    background-image: url(/paginas/images/espacio.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
}

.central{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: fantasy, Arial, Helvetica, sans-serif;

}
.menu{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    font-weight: bold;
}

.menu a{
    font-family: fantasy, Arial, Helvetica, sans-serif;
     text-decoration: none;
    color: rgb(26, 21, 10);
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover{
    color: brown;
}


.container{
height: 60vh; 
display: flex;
}


.box1{
    flex: 1;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
   border-radius: 20px;
   text-align: center;
   justify-content: center;
}

.p-proyect{
    border-bottom: 1px solid black;
}

.box2{
    flex: 1;
   overflow-y: auto;
   border-radius: 20px;
   border-bottom: 2px solid black;
   border-top: 2px solid black;
   padding: 20px;
   
}
.box3{
    flex: 1;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 20px;

}

.enfoque-profesional{
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
   


footer{
text-align: center;
    min-height: 15vh;
    font-size: 20px;

}


/*Here is about page project*/

.tittle-proyect{
    border-top: 5px dashed lightblue;
    height: 30vh;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: lightcyan;
}

.banner{
    flex: 1;
    height: 250px;
    background-image: url(/paginas/images/imagenproyecto.jpg), url(/paginas/images/imagenproyecto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.izquierda{
    flex: 1;
    text-align: center;
 
}


.info-details{
    display: flex;
    flex-direction: column; /* Apila el título arriba y la fila abajo */
    width: 100%;
    max-width: 1000px; /* Ancho máximo para que no se estire demasiado */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    box-sizing: border-box; /* Asegura que padding no sume ancho */
}


.tittle-details{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.details{
    display: flex; /* Activa la fila horizontal */
    flex-direction: row; 
    justify-content: space-between; /* Espacio entre cajas */
    gap: 15px; /* Espacio entre las cajas */
    width: 100%;
}

.detail{
    flex: 1; /* Hace que todas las cajas tengan el mismo ancho */
    background-color: lightcyan;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gainsboro;
}

.gallery{
    display:flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: lightcyan;
}

.tittle-gallery{
    text-align: center;
}

.imagenes{
    display: flex;
    flex-direction:row;
    gap: 10px;
    max-width: 100%;
}

.image{
width: 350px; 
    height: 450px; 
    object-fit: cover; 
    border-radius: 8px;
}

.objective{
    height: 40vh;
    background-color: lightcyan;  
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
margin:0 auto;
    box-sizing: border-box;
}

.tittle-objetive{
    text-align: center;
}

.box-description{
    display: flex;
    flex-direction: row;
    gap:10px;
    max-height: 400px;
    width: 90vw;
    justify-content: center;
}

.description{
    width: 400px;
    background-color: lightblue;
    border:1px solid gray;
    border-radius: 20px;
    gap: 100px;
    text-align: center;
}

.description h2{
    color: azure;
    background-color: black;
    display: inline ;
    border-radius: 10px;

}

.comment-section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightcyan;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comment{
     border: 1px solid black;
    border-radius: 10px;
    background-color: lightcyan;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.button-comment{
    font-family: fantasy, Arial, Helvetica, sans-serif;
    color: blue;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

/*Here start about page articles*/

.tittle-articles{
    height: 25vh;
border-top: 3px dotted lightblue;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tittle-one{
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    margin: 0;
    font-size: 50px;
}

.tittle-one::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 41%;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
}
.tittle-two{
    display: inline;
    background-color: lightblue;
}
aside{
    height: 80vh;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/*Here start about page contact*/

.contact-container{
    height: 70vh;
    background-color: #c8e1ea;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.tittle-contact{
    text-align: center;
    font-size: 40px;
}

.info-contact{
    height: 100%;
    width: 400px;
    background-color: lightcyan ;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.form-contact{
    height: 100%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}   

.campo{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.campo label{
   margin-bottom: 5px;
    text-align:left;
    display: block;
    background-color: lightcyan;
}

.campo input{
    padding: 8px;
    width: 90%;
    background-color: lightcyan;
    border-radius: 5px;
}

.button-contact{
    margin-top: 15px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}

.textarea2{
    background-color: lightcyan;
    border-radius: 5px;
}